<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
  <favorite [isFavorite]="post.isFavorite" (change)="onFavoriteChange($event)"></favorite>

  <app-my-new-component>
    <!--Use ng-container when you only want the content and not the extra div tag-->
    <ng-container class="heading">Heading</ng-container>
    <div class="body">
      <h2>Body</h2>
      <p>Some content here...</p>
    </div>
  </app-my-new-component>

  <h1>Hey {{ myObject.location }}</h1>
  
  <ul>
    <li *ngFor = "let arr of myArr"> {{ arr }} </li>  
  </ul>
  
  <ol>
    <li *ngIf="myArr"> Yeah I exist </li>
    <li *ngIf="!myArr"> Yeah I don't exist </li>
    <li *ngIf="myArr == 'something'"> It does not equal so won't show </li>
    <li *ngIf="!myArr; else otherTmpl"> It does not equal so won't show </li>

    <ng-template #otherTmpl> No, I do. </ng-template>

    <div *ngIf="myArr; then templ1 else templ2">Will not get shown here so don't insert anything </div>
    
    <ng-template #templ1> <p>Template 1</p> </ng-template>
    <ng-template #templ2> <p>Template 2</p> </ng-template>

  </ol>

<!--ngIf START-->

<div *ngIf="courses.length > 0; then coursesList else noCourses">
  List of courses
</div>
<ng-template #coursesList>
  List of courses
</ng-template>
<ng-template #noCourses>
  No courses yet  
</ng-template>

<!--ngIf END-->

<!--Hidden property START-->
<div [hidden]="courses.length == 0">
  No courses yet. 
</div>

<div [hidden]="courses.length > 0">
  Hidden property is only good for small elements against ngIf. This appears in html.
</div>
<!--Hidden property END-->

<!--ngSwitchCase START-->

<ul class="nav nav-pills">
  <!-- ZEN CODING to quickly generate html markup 
    (li>a)*2 -->
    <li [class.active]="viewMode == 'map'"><a (click)="viewMode = 'map'">Map View</a></li>
    <li [class.active]="viewMode == 'list'"><a (click)="viewMode = 'list'">List View</a></li>
</ul>
<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'" >Map View Content</div>
  <div *ngSwitchCase="'list'">List View Content</div>
  <div *ngSwitchDefault>Otherwise</div>
</div>

<!--ngSwitchCase END-->

<!--ngFor START-->
<ul>
  <!--Note that ngFor has some exported values like index that can be helpful in a table
  List: https://angular.io/api/common/NgForOf#local-variables-->
  <li *ngFor="let course of course_list; index as i, even as isEven">
    {{ i }} - {{ course.name }} <span *ngIf="isEven">(EVEN)</span>
  </li>
</ul>
<!--ngFor END-->

<!-- ngFor change detection -->

<button (click)="onAdd()" >Add</button>
<ul>
  <li *ngFor="let arr of myArr">
    {{ arr }}
    <button (click)="onRemove(arr)">Remove</button>
  </li>
</ul>

<!-- ngFor change detection -->

<!-- ngFor and trackBY START -->
<!-- 
  By default angular tracks object by reference of them in memory
  So when we reload, the memory location is gonna change and dom tree will be reloaded
  even though the contents of the object has not changed.
  Hence we want to change how angular tracks changes in object using trackBy.
-->
<button (click)="loadCourses()" >Load Courses</button>
<ul>
  <li *ngFor="let course of course_list; trackBy: trackCourse">
    {{ course.name }}
  </li>
</ul>
<!-- ngFor and trackBY END -->

<!-- ngStyle START -->

<button 

  [ngStyle]="
  {
    'backgroundColor' : canSave ? 'blue' : 'gray',
    'color' : canSave ? 'white' : 'black',
    'fontWeight' : canSave ? 'bold' : 'normal'
  }"
>
  Save
</button>

<!-- ngStyle END -->

<!-- safe traversal START-->
<!--
  The question mark helps to ignore assignee if it's null.
-->
<span> {{ task.assignee?.name }} </span>

<!-- safe traversal END-->

<!-- creating custom directive START-->

<input type="text" [appInputFormat]="'uppercase'">

<!-- creating custom directive END-->