<!--
  Each FormControl has:
  value
  touched
  untouched
  dirty i.e. value has changed
  pristine i.e. value has not changed
  valid
  errors

  Each FormGroup is a group of formcontrol.

  REACTIVE FORMS: (Using code)
   - more contorl over validation logic
   - good for complex forms
   - unit testable

  TEMPLATE-DRIVEN FORMS: (template driven i.e. ngModel)
   - good for simple forms
   - simple validation
   - easier to create

  
-->

<form #f="ngForm" (ngSubmit)="submit(f)">
  <div ngModelGroup="contact" #contact="ngModelGroup">
    <!-- now we can validate this entire group: *ngIf="!contact.valid"-->
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input 
        required  
        minlength="3" 
        maxlength="10" 
        pattern="apple" 
        ngModel 
        name="firstName" #firstName="ngModel" (change)="log(firstName)" id="firstName" type="text" class="form-control"
        >
        <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid" >
          <div *ngIf="firstName.errors.required">First Name is required</div>
          <div *ngIf="firstName.errors.minlength">First Name should not be less than {{ firstName.errors.minlength.requiredLength }} characters</div>
          <div *ngIf="firstName.errors.maxlength">First Name should not be more than 10 characters</div>
          <div *ngIf="firstName.errors.pattern">First Name should be apple only as per pattern</div>
        </div>
      </div>
  </div>
  
  <!--
    ngModelGroup makes complex nested object.
    comment: "cxv"
    contact: {
      firstName: "apple"
    }
  -->
  
  <!-- div.form-group>label[for='comemnt']+textarea[id='comment'].form-control -->
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea ngModel name="comment" id="comment" cols="30" rows="10" class="form-control"></textarea>
  </div> 
  <div class="checkbox">
    <label>
      <input type="checkbox" ngModel name="isSubscribe"> Subscribe to mailing list
    </label>
    </div>

<div class="form-group">
  <label for="contactMethod">Contact Method</label>
  <select ngModel id="contactMethod" name="contactMethod" id="" class="form-control">
    <option value=""></option>
    <option 
    *ngFor="let method of contactMethods" 
    [value]="method.id"
    >{{ method.name }}</option>
  </select>
</div>

    <p>
      {{ f.value | json }}
    </p>
  <button class="btn btn-primary" [disabled]="!f.valid" >Submit</button>

</form>