<!--
  Each FormControl has:
  value
  touched
  untouched
  dirty i.e. value has changed
  pristine i.e. value has not changed
  valid
  errors

  Each FormGroup is a group of formcontrol.

  REACTIVE FORMS: (Using code)
   - more contorl over validation logic
   - good for complex forms
   - unit testable

  TEMPLATE-DRIVEN FORMS: (template driven i.e. ngModel)
   - good for simple forms
   - simple validation
   - easier to create

  
-->

<form>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input ngModel name="firstName" #firstName="ngModel" (change)="log(firstName)" id="firstName" type="text" class="form-control">
  </div>
  
  <!-- div.form-group>label[for='comemnt']+textarea[id='comment'].form-control -->
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea ngModel name="comment" id="comment" cols="30" rows="10" class="form-control"></textarea>
  </div> 

  <button class="btn btn-primary">Submit</button>

</form>